@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$font-family-base: "Montserrat", sans-serif;
$primary: black;

@import "../node_modules/bootstrap/scss/bootstrap";

.menu {
  align-items: center;
  justify-content: center;
}
